logs
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
ansible/artifacts
*.pyc
*.log
webex_access.txt
map/webex_access.txt
webex_refresh.txt
celerybeat-schedule
.env
ansible/hosts.ini
django_debug.log.gz
git-credentials.sh
