{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Network Tasks{% endblock %}
{% block template %}
<h2>Tasks - <a style="color: rgb(143, 137, 228)!important; text-decoration: none;" href="{% url 'device_details' device_id=device.id %}" >{{ device.hostname }}</a> - {{ device.ip_address }}</h2>
<table id="tasks-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody id="tasks-body">
        {% for task in device_tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.result }}</td>
            <td>{{ task.start_time }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
function fetchTasks() {
    $.ajax({
        url: "{% url 'fetch_tasks' device_id=device.id %}", 
        type: 'GET',
        dataType: 'json',
        success: function(response) {
            $('#tasks-body').empty();
            response.device_tasks.forEach(function(task) {
                $('#tasks-body').append(`
                    <tr>
                        <td>${task.name}</td>
                        <td>${task.result}</td>
                        <td>${task.start_time}</td>
                    </tr>
                `);
            });
        }
    });
}

// Poll every 2 seconds
setInterval(fetchTasks, 2000);
</script>
{% endblock %}
