{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Network Tasks{% endblock %}
{% block template %}
<h2>Tasks - {{ device.hostname }} - {{ device.ip_address }}</h2>
<div id="tasks-container">
    {%for task in device_tasks%}
    <p>Name: {{task.name}} - Status: {{task.result}} - Time: {{task.start_time}}</p>
    {%endfor%}
</div>


<script>
    function fetchTasks() {
        $.ajax({
            url: "{% url 'fetch_tasks' device_id=device.id %}", // Assuming you have a URL named 'tasks_view'
            type: 'GET',
            dataType: 'json',
            success: function(response) {
                $('#tasks-container').empty(); // Clear existing tasks
                response.device_tasks.forEach(function(task) {
                    $('#tasks-container').append(`<p>Name: ${task.name} - Status: ${task.result} - Time: ${task.start_time}</p>`);
                });
            }
        });
    }
    
    // Poll every 5 seconds (for example)
    setInterval(fetchTasks, 2000);
    </script>
    {% endblock %}