{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Network{% endblock %}
{% block template %}


<h2>Network</h2>

<table id="routersTable">
  <thead>
    <tr>
      <th>Routers</th>
      <th>Status</th>
      <th>IP</th>
    </tr>
  </thead>
  <tbody>
    {% for device in device_info %}
    <tr>
      <td><a style="color: rgb(143, 137, 228)!important; text-decoration: none;" target="_blank" href="{% url 'device_details' device_id=device.id %}">{{ device.hostname }}</a></td>
      <td>{% if device.online %}<span style="color: green;">✓</span>{% else %}<span style="color: red;">X</span>{% endif %}</td>
      <td>{{ device.ip_address }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<table id="switchesTable">
  <thead>
    <tr>
      <th>Switches</th>
      <th>Status</th>
      <th>IP</th>
    </tr>
  </thead>
  <tbody>
    {% for device in device_info %}
    <tr>
      <td>{{ device.hostname }}</td>
      <td>{% if device.online %}<span style="color: green;">✓</span>{% else %}<span style="color: red;">X</span>{% endif %}</td>
      <td>{{ device.ip_address }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<!-- MERAKI INFO DONT DELETE<h1>Networks</h1>

  {% for network in networks %}

      <h2>{{ network }}</h2>
Routers
      <ul>
        {% for device in device_info %}
          {% if device.networkName == network %}
              {% if "MX" in device.model %}
              <li><a style="color: rgb(143, 137, 228)!important; text-decoration: none;" href="{% url 'device_details' device_id=device.id %}">{{ device.name }}</a></li>
              {% endif %}
          {% endif %}
          {% endfor %}
      </ul>
    </li>
    Switches
      <ul>
        {% for device in device_info %}
          {% if device.networkName == network %}
              {% if "MS" in device.model %}
              <li><a style="color: rgb(143, 137, 228)!important; text-decoration: none;" href="{% url 'device_details' device_id=device.id %}">{{ device.name }}</a></li>              {% endif %}
          {% endif %}
        {% endfor %}
      </ul>

  {% endfor %}-->

{% endblock %}