{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Network{% endblock %}
{% block template %}
<h2>Port View</h2>

<form id="editForm" action="{% url 'edit_ports' %}" method="post">
  {% csrf_token %}
  <input type="hidden" name="selected_ports" id="selectedPorts">
  <input type="submit" value="Edit Selected">
</form>

<table >
  <thead>
    <tr>
      <th>
        <label>
          <input type="checkbox" id="selectAllCheckbox" onclick="toggleSelectAll(this)">
          Select/Deselect All
        </label>
      </th>
      <th>Description</th>
      <th>MAC Address</th>
      <th>MTU</th>
      <th>Bandwidth</th>
      <th>Media Type</th>
      <th>Duplex</th>
      <th>Line Protocol</th>
      <th>Operational Status</th>
      <th>Interface Type</th>
      <th>IPv4 Address</th>
      <th>IPv4 Subnet</th>
    </tr>
  </thead>
  <tbody>
    {% for interface in device_interfaces %}
    <tr>
      <td><input type="checkbox" id="port{{ interface.id }}" name="port" value="{{ interface.id }}">
          <label for="port{{ interface.id }}">{{ interface.name }}</label></td>
      <td>{{ interface.description }}</td>
      <td>{{ interface.mac_address }}</td>
      <td>{{ interface.mtu }}</td>
      <td>{{ interface.bandwidth }}</td>
      <td>{{ interface.media_type }}</td>
      <td>{{ interface.duplex }}</td>
      <td>{{ interface.line_protocol }}</td>
      <td>{{ interface.oper_status }}</td>
      <td>{{ interface.interface_type }}</td>
      <td>{{ interface.ipv4_address }}</td>
      <td>{{ interface.ipv4_subnet }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
<script>
  function toggleSelectAll(checkbox) {
    var checkboxes = document.querySelectorAll('input[name="port"]');
    checkboxes.forEach(function(checkbox) {
      checkbox.checked = this.checked;
    }, checkbox);
    updateSelectedPorts();
  }

  function updateSelectedPorts() {
    var selectedPorts = [];
    var checkboxes = document.querySelectorAll('input[name="port"]:checked');
    checkboxes.forEach(function(checkbox) {
      selectedPorts.push(checkbox.value);
    });
    document.getElementById('selectedPorts').value = JSON.stringify(selectedPorts);
  }
</script>
