{% extends 'base.html' %}
{% load static %}
{% block title %}Network{% endblock %}
{% block template %}
<style>
.popup {
    display: none;
    position: absolute;
    top: auto;
    bottom: auto;
    overflow-y: auto;
    width: 50vh;
    height:fit-content;
    background-color: var(--left-menu-color);
    border: 1px solid black;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    z-index: 9999; 
    -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 0.375em;
  border: 0;
  box-shadow: inset 0 0 0 2px var(--border-color);
  color: var(--border-color) !important;
  display: inline-block;
  font-family: var(--font-family);
  font-size: 0.8em;
  font-weight: 700;
  padding: 0 1em .25em;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
}

</style>
<h2>Port View - {{ device.hostname }} - {{ device.ip_address }}</h2>

<input type="button" value="Edit Selected" onclick="togglePopup()">
<input type="button" value="Toggle Columns" onclick="toggleColumnPopup()">
<br><br>

<div id="columnPopup" style="display: none;" class="popup">
  <h2>Toggle Columns <span style="float: right; cursor: pointer;" onclick="closeColumnPopup()">X</span></h2>
  <form id="columnForm">
    <input type="checkbox" id="descriptionToggle" checked onchange="toggleColumn('description')">
    <label for="descriptionToggle">Description</label><br>
    <input type="checkbox" id="macAddressToggle" checked onchange="toggleColumn('macAddress')">
    <label for="macAddressToggle">MAC Address</label><br>
    <input type="checkbox" id="mtuToggle" checked onchange="toggleColumn('mtu')">
    <label for="mtuToggle">MTU</label><br>
    <input type="checkbox" id="bandwidthToggle" checked onchange="toggleColumn('bandwidth')">
    <label for="bandwidthToggle">Bandwidth</label><br>
    <input type="checkbox" id="mediaTypeToggle" checked onchange="toggleColumn('mediaType')">
    <label for="mediaTypeToggle">Media Type</label><br>
    <input type="checkbox" id="duplexToggle" checked onchange="toggleColumn('duplex')">
    <label for="duplexToggle">Duplex</label><br>
    <input type="checkbox" id="lineProtocolToggle" checked onchange="toggleColumn('lineProtocol')">
    <label for="lineProtocolToggle">Line Protocol</label><br>
    <input type="checkbox" id="operationalStatusToggle" checked onchange="toggleColumn('operationalStatus')">
    <label for="operationalStatusToggle">Operational Status</label><br>
    <input type="checkbox" id="interfaceTypeToggle" checked onchange="toggleColumn('interfaceType')">
    <label for="interfaceTypeToggle">Interface Type</label><br>
    <input type="checkbox" id="ipv4AddressToggle" checked onchange="toggleColumn('ipv4Address')">
    <label for="ipv4AddressToggle">IPv4 Address</label><br>
    <input type="checkbox" id="ipv4SubnetToggle" checked onchange="toggleColumn('ipv4Subnet')">
    <label for="ipv4SubnetToggle">IPv4 Subnet</label><br>
  </form>
</div>


 
<div id="popup" style="display: none;" class="popup">
  <h2>Bulk Edit Information <span style="float: right; cursor: pointer;" onclick="closePopup()">X</span></h2>
  <form id="editForm" action="{% url 'edit_ports' %}" method="post">
    {% csrf_token %}
    <h3>Selected Ports:</h3>
    <div id="selectedPortsDisplay" style="margin: auto; height: 10vh; overflow-y: auto; box-shadow: inset 0 0 0 2px var(--border-color); display: inline-block; width: 7vw; text-align: center; border-radius: 0.375em;"></div>
    <br>
    
    <h3>Port Mode:</h3>
    <input type="radio" name="mode" id="accessMode" value="access" onclick="toggleFields()">
    <label for="accessMode">Access</label>
    <input type="radio" name="mode" id="trunkMode" value="trunk" onclick="toggleFields()">
    <label for="trunkMode">Trunk</label>
    <input type="radio" name="mode" id="deleteMode" value="delete" onclick="toggleFields()">
    <label for="deleteMode">Delete</label>
    <br>
    <div id="vlanFields" style="display: none;">
      <label for="vlan">VLAN:</label>
      <input type="number" pattern="[0-9]*" name="vlan" id="vlan" oninput="this.value = this.value.replace(/[^0-9]/g, '')"> <br><br>
      <label for="voiceVlan">Voice VLAN:</label>
      <input type="number" pattern="[0-9]*" name="voiceVlan" id="voiceVlan" oninput="this.value = this.value.replace(/[^0-9]/g, '')"> <br> <br>
    </div>

    <div id="trunkFields" style="display: none;">
      <label for="nativeVlan">Native VLAN:</label>
      <input type="number" pattern="[0-9]*" name="nativeVlan" id="nativeVlan" oninput="this.value = this.value.replace(/[^0-9]/g, '')"><br><br>
      <label for="allowedVlans">Allowed VLANs:</label>
      <input type="text" name="allowedVlans" id="allowedVlans" placeholder="Enter VLANs separated by commas (e.g., 1, 2, 3)"><br><br>
      <label for="encapsulation">Encapsulation:</label>
      <select name="encapsulation" id="encapsulation">
        <option value="dot1q">Dot1Q</option>
        <option value="isl">ISL</option>
        <option value="negotiate">Negotiate</option>
      </select>
      <br>
    </div>
    <h3>Port State:</h3>
    <input type="hidden" name="selected_ports" id="selectedPorts">
    <input type="hidden" name="ip_address" id="ip_address" value="{{ device.ip_address }}">
    <input type="radio" name="desiredState" id="shutState" value="shut">
    <label for="shutState">Disable Ports</label>
    <input type="radio" name="desiredState" id="noshutState" value="noshut" checked>
    <label for="noshutState">Enable Ports</label>
    <br><br>
    <button style="background-color: var(--background-color); float: right;" onclick="return submitForm()">Submit</button>
    <button type="button" style="float: left; cursor: pointer;" onclick="closePopup()">Cancel</button>
    <br>
  </form>
</div>



<table id="portTable">
  <thead>
    <tr>
      <th>
        <input type="checkbox" id="selectAllCheckbox">
        <label style="color: inherit;" for="selectAllCheckbox" onclick="toggleSelectAll()"> 
        Select/Deselect All
      </label>
      </th>
      <th id="descriptionHeader">Description</th>
      <th id="macAddressHeader">MAC Address</th>
      <th id="mtuHeader">MTU</th>
      <th id="bandwidthHeader">Bandwidth</th>
      <th id="mediaTypeHeader">Media Type</th>
      <th id="duplexHeader">Duplex</th>
      <th id="lineProtocolHeader">Line Protocol</th>
      <th id="operationalStatusHeader">Operational Status</th>
      <th id="interfaceTypeHeader">Interface Type</th>
      <th id="ipv4AddressHeader">IPv4 Address</th>
      <th id="ipv4SubnetHeader">IPv4 Subnet</th>
    </tr>
  </thead>
  <tbody>
    {% for interface in device_interfaces %}
    <tr>
      <td><input type="checkbox" id="port{{ interface.id }}" name="port" value="{{ interface.name }}" onchange="updateSelectedPorts()">
          <label for="port{{ interface.id }}">{{ interface.name }}</label></td>
      <td>{{ interface.description }}</td>
      <td>{{ interface.mac_address }}</td>
      <td>{{ interface.mtu }}</td>
      <td>{{ interface.bandwidth }}</td>
      <td>{{ interface.media_type }}</td>
      <td>{{ interface.duplex }}</td>
      <td>{{ interface.line_protocol }}</td>
      <td>{{ interface.oper_status }}</td>
      <td>{{ interface.interface_type }}</td>
      <td>{{ interface.ipv4_address }}</td>
      <td>{{ interface.ipv4_subnet }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>


<script>


  // Function to apply the column toggle immediately
  function applyColumnToggle(column) {
    var checkbox = document.getElementById(column + 'Toggle');
    toggleColumn(column, checkbox.checked);
  }

function toggleColumn(column) {
    var headerCell = document.getElementById(column + 'Header');
    var columnIndex = headerCell.cellIndex;
    var table = document.getElementById('portTable');
    var checkboxes = document.querySelectorAll('#columnPopup input[type="checkbox"]');

    var isVisible = headerCell.style.display !== 'none';

    for (var i = 0; i < table.rows.length; i++) {
        table.rows[i].cells[columnIndex].style.display = isVisible ? 'none' : '';
    }

    headerCell.style.display = isVisible ? 'none' : '';

    // Save column visibility preference
    localStorage.setItem(column + 'Toggle', !isVisible);

    // Update checkbox status
    checkboxes.forEach(function(checkbox) {
        if (checkbox.id === column + 'Toggle') {
            checkbox.checked = !isVisible;
        }
    });
}

// Load column toggle preferences from local storage
document.addEventListener('DOMContentLoaded', function() {
    var columns = ['description', 'macAddress', 'mtu', 'bandwidth', 'mediaType', 'duplex', 'lineProtocol', 'operationalStatus', 'interfaceType', 'ipv4Address', 'ipv4Subnet'];

    columns.forEach(function(column) {
        var isVisible = localStorage.getItem(column + 'Toggle') !== 'false';
        var headerCell = document.getElementById(column + 'Header');
        var table = document.getElementById('portTable');

        headerCell.style.display = isVisible ? '' : 'none';

        for (var i = 0; i < table.rows.length; i++) {
            table.rows[i].cells[headerCell.cellIndex].style.display = isVisible ? '' : 'none';
        }
    });
});



    function toggleFields() {
    var accessMode = document.getElementById("accessMode");
    var trunkMode = document.getElementById("trunkMode");
    var deleteMode = document.getElementById("deleteMode");
    var vlanFields = document.getElementById("vlanFields");
    var trunkFields = document.getElementById("trunkFields");

    if (accessMode.checked) {
      vlanFields.style.display = "block";
      trunkFields.style.display = "none";
    } else if (trunkMode.checked) {
      vlanFields.style.display = "none";
      trunkFields.style.display = "block";
    } else if (deleteMode.checked) {
      vlanFields.style.display = "none";
      trunkFields.style.display = "none";
    }
  }
  var editPopupOpen = false;
  var columnPopupOpen = false;

  // Function to toggle the visibility of the edit popup
  function togglePopup() {
    var editPopup = document.getElementById('popup');
    editPopup.style.display = editPopupOpen ? 'none' : 'block';
    editPopupOpen = !editPopupOpen;

    // Close the column popup if it's open
    if (columnPopupOpen && editPopupOpen) {
      toggleColumnPopup();
    }

    if (editPopupOpen) {
      displaySelectedPorts();
    }
  }

  // Function to close the edit popup
  function closePopup() {
    var editPopup = document.getElementById('popup');
    editPopup.style.display = 'none';
    editPopupOpen = false;
  }

  // Function to toggle the visibility of the column popup
  function toggleColumnPopup() {
    var columnPopup = document.getElementById('columnPopup');
    columnPopup.style.display = columnPopupOpen ? 'none' : 'block';
    columnPopupOpen = !columnPopupOpen;

    // Close the edit popup if it's open
    if (editPopupOpen && columnPopupOpen) {
      closePopup();
    }
  }

  // Function to close the column popup
  function closeColumnPopup() {
    var columnPopup = document.getElementById('columnPopup');
    columnPopup.style.display = 'none';
    columnPopupOpen = false;
  }




function toggleSelectAll() {
    var checkboxes = document.querySelectorAll('input[name="port"]');
    var selectAllCheckbox = document.getElementById('selectAllCheckbox');

    // Check if the select all checkbox is checked or not
    var selectAllChecked = !selectAllCheckbox.checked;

    // Set the checked status of all checkboxes based on the select all checkbox
    checkboxes.forEach(function(checkbox) {
        checkbox.checked = selectAllChecked;
    });

    // Update selected ports after toggling checkboxes
    updateSelectedPorts();
}

  function updateSelectedPorts() {
    var selectedPorts = [];
    var checkboxes = document.querySelectorAll('input[name="port"]:checked');
    checkboxes.forEach(function(checkbox) {
      selectedPorts.push(checkbox.value);
    });
    document.getElementById('selectedPorts').value = JSON.stringify(selectedPorts);
    displaySelectedPorts();
  }

  function displaySelectedPorts() {
    var selectedPortsDisplay = document.getElementById("selectedPortsDisplay");
    selectedPortsDisplay.innerHTML = "";
    var selectedPorts = JSON.parse(document.getElementById('selectedPorts').value);

    selectedPorts.forEach(function(port) {
      selectedPortsDisplay.innerHTML += "<p style='margin: 0; font-size: 0.8em;'>" + port + "</p>";
    });
  }

  function submitForm() {
  // Get the values from the additional fields
  var ipAddress = document.getElementById('ip_address').value;
  var selectedPorts = document.getElementById('selectedPorts').value;
  var desiredState = document.querySelector('input[name="desiredState"]:checked').value;
  var mode = document.querySelector('input[name="mode"]:checked').value;
  
  var vlan = document.getElementById('vlan').value;
  var voiceVlan = document.getElementById('voiceVlan').value;
  var nativeVlan = document.getElementById('nativeVlan').value;
  var allowedVlans = document.getElementById('allowedVlans').value;
  var encapsulation = document.getElementById('encapsulation').value;

  // Check if all required fields are filled
  if (!ipAddress || !selectedPorts || !desiredState || !mode) {
    alert("Please fill out all required fields.");
    return false; // Prevent form submission if any required field is empty
  }

  // If mode is access, check VLAN and Voice VLAN values
  if (mode === "access") {
    if (!vlan) {
      alert("Please fill out all required fields.");
      return false; // Prevent form submission if any required field is empty
    }
  }
  // If mode is trunk, check Native VLAN, Allowed VLANs, and Encapsulation values
  else if (mode === "trunk") {
    if (!nativeVlan || !allowedVlans || !encapsulation) {
      alert("Please fill out all required fields.");
      return false; // Prevent form submission if any required field is empty
    }
  }

  // Set the values to hidden input fields in the form
  document.getElementById('ip_address').value = ipAddress;
  document.getElementById('selectedPorts').value = selectedPorts;
  document.getElementById('desiredState').value = desiredState;

  // Submit the form
  document.getElementById('editForm').submit();
}

</script>

{% endblock %}
