<!DOCTYPE HTML>
{% load static %}
{% csrf_token %}
<html lang="en">
	<head>
		<title>{% block title %}{% endblock %}</title>
		<script src="https://kit.fontawesome.com/a6841e2ff6.js" crossorigin="anonymous"></script>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />	
		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.21/jquery.zoom.min.js"></script>
		<link rel="icon" type="image/jpeg" href="/static/images/favicon.jpg">

		<!--<link rel="icon" type="image/x-icon" href="{% static 'images/Map_Photos/CSV_Grey_Logo.png' %}" />-->
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper">
				<!-- Sidebar -->
				<div id="sidebar">
					<div class="inner">

						<!-- Search -->
							<section id="search" class="alt">
								<h1 style="text-align: center; font-size: 2.5em; -moz-osx-font-smoothing: grayscale;
								-webkit-font-smoothing: antialiased;
								display: inline-block;
								font-style: normal;
								font-variant: normal;
								text-rendering: auto;
								line-height: 1;
								text-transform: none !important;
								">{{ org_info.org_name }} Dashboard</h1>
							</section>

						<!-- Menu -->
							<nav id="menu">
								<header class="major">
									<h2>Menu</h2>
								</header>

								<ul>
									<li ><a class="icon solid fa-home" href="{% url 'home' %}"> Home</a></li>
									<li><a class="icon solid fa-map" href="{% url 'map' %}"> Map</a></li>
									<li><a class="icon solid fa-globe" href="{% url 'sites' %}"> Sites</a></li>
									<li>
										<span class="opener"><i class="icon solid fa-list"></i> Projects</span>
										<ul>
											<li style="color: var(--text-color);"><a href="{% url 'meetings' %}">Meetings</a></li>
											<li style="color: var(--text-color);"><a href="{% url 'projects' %}">All Projects</a></li>
											<li style="color: var(--text-color);"><a href="{% url 'my_projects' %}">My Projects</a></li>
											<li style="color: var(--text-color);"><a href="{% url 'project_dashboard' %}">Project Dashboard</a></li>
										</ul>
									</li>
									
									<li><a class="icon solid fa-network-wired" href="{% url 'network' %}"> Network</a></li>
									<li>
										<span class="opener"><i class="icon solid fa-toolbox"></i> Tools</span>
										<ul>
											<li style="color: var(--text-color);"><a href="{% url 'microsoft_portals' %}">Microsoft Portals</a></li>
											<li style="color: var(--text-color);"><a href="{% url 'ipam' %}">IPAM</a></li>
										</ul>
									</li>
									<li><a href="{% url 'wikis' %}"><i class="icon solid fa-book"></i> Wiki</a></li>
									{% if user.is_authenticated and user.is_superuser %}
									<li><a href="{% url 'settings' %}"><i class="icon solid fa-gear"></i> Settings</a></li>
									{% endif %}
								</ul>
							</nav>

						<!-- Section -->
							<section>
								<header class="major">
									<h2>Get in touch</h2>
								</header>
								<ul class="contact">
									<li class="icon solid fa-envelope"><a href="mailto:StrawberrySpider.co@gmail.com">StrawberrySpider.co@gmail.com</a></li>
								</ul>
							</section>

						<!-- Footer -->
							<footer id="footer">
								<p class="copyright">&copy; StrawberrySpider </p>
							</footer>

					</div>
				</div>
				<!-- Main -->
					<div id="main">
						<div class="inner">

							<!-- Header -->
								<header id="header">
									<p class="button top-button-left" onclick="redirectToRequest()">Request a feature <i class="icon solid fa-comment"></i> </p>
									{% if user.is_authenticated %}
									<p class="button top-button-right-mid" onclick="redirectToLogout()">Logout <i class="icon solid fa-user-slash"></i></p>
									<p class="button top-button-right" onclick="history.back()">Back <i class="icon solid fa-backward"></i></a></p>
									<ul class="icons">
										<li id="dark-mode-toggle"><a class="icon solid fa-moon"><span class="label">Github</span></a></li>
									</ul>
									{% else %}
									<p class="button top-button-left-mid" onclick="redirectToLogin()">Login <i class="icon solid fa-key"></i></p>
									<p class="button top-button-right" onclick="history.back()">Back <i class="icon solid fa-backward"></i></a></p>
									<ul class="icons">
										<li id="dark-mode-toggle"><a class="icon solid fa-moon"><span class="label">Github</span></a></li>
									{% endif %}
									</ul>

								</header>
								<div class="content">
									<section>
									{% block template %}
									{% endblock %}
								</section>
								</div>
						</div>
					</div>

			</div>

		<!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
			<script>
				function redirectToLogin() {
	window.location.href = "{% url 'login_user' %}";
}
function redirectToHome() {
	window.location.href = "{% url 'home' %}";
}
				function redirectToLogout() {
	window.location.href = "{% url 'logout_user' %}";
}
document.addEventListener('DOMContentLoaded', function() {
    const toggleButton = document.getElementById('dark-mode-toggle');
    const htmlElement = document.querySelector('html');

    // Retrieve theme preference from local storage
    const savedTheme = localStorage.getItem('theme');

    // If a theme preference is found in local storage, apply it
    if (savedTheme) {
        htmlElement.setAttribute('data-theme', savedTheme);
    }

    // Add event listener to the toggle button
    toggleButton.addEventListener('click', function() {
        const newTheme = htmlElement.getAttribute('data-theme') === 'dark' ? '' : 'dark';
        htmlElement.setAttribute('data-theme', newTheme);
        localStorage.setItem('theme', newTheme);
    });
});

			</script>


	</body>
</html>