{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Feature Request{% endblock %}
{% block template %}
<h1>Create Ticket</h1>
<form id="create-ticket-form">
    <input type="hidden" name="org_name" id="org_name" value="{{ org.org_name }}">
    <input type="hidden" name="org_id" id="org_id" value="{{ org.org_id }}">
    <input type="hidden" name="user" id="user" value="{{ user.username }}">
    <input type="hidden" name="email" id="email" value="{{ org.contact_email }}">
    
    <label for="title">Title:</label>
    <input type="text" id="title" name="title" maxlength="255" required><br>
    
    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea><br>
    
    <label for="type">Type:</label>
    <select id="type" name="type" required>
        <option value="request">Request</option>
        <option value="issue">Issue</option>
    </select><br>
    
    <button type="submit">Submit</button>
</form>


<script>
    document.getElementById('create-ticket-form').addEventListener('submit', function(event) {
        event.preventDefault();
        var formData = new FormData(event.target);
        var jsonData = {};
        formData.forEach((value, key) => jsonData[key] = value);

        fetch('https://license.strawberryspider.com/api/tickets/create/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(jsonData),
        })
        .then(response => response.json())
        .then(data => {
            window.location.href = `/ticket?ticket_id=${data.ticket_id}&title=${data.title}`;
        })
        .catch(error => console.error('Error:', error));
    });
</script>
{% endblock %}
