{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Home{% endblock %}
{% block template %}
<header>
    <h1>Announcements!</h1>
</header>


<section id="banner">
	<div class="content">
		<header>
			<h1>Network Tool</h1>
			        <h2>We're thrilled to announce the launch of our newly developed Network Page, now live and fully functional! 🎉</h2>
        <p>Here's a sneak peek into the fantastic features it brings to enhance your networking experience:</p>
        <ul>
            <li><strong>Configuration Management:</strong> Dive deep into your network's configuration with ease! View configuration differences, explore startup and running configurations, and effortlessly promote backup configurations to startup settings.</li>
            <li><strong>Monitoring:</strong> Stay in the loop with real-time insights into your network devices' connectivity. Experience the power of instant visibility into network health and performance.</li>
            <li><strong>Port Configuration:</strong> Take control of your ports like never before! Whether it's mass editing port configurations, fine-tuning individual port settings, or seamlessly cycling through ports, we've got you covered. Plus, easily visualize ports on a switch for quick navigation.</li>
            <li><strong>Device Information:</strong> Get comprehensive insights at your fingertips! Explore device models, versions, serial numbers, and more, all conveniently accessible in one place.</li>
            <li><strong>Real-time Data Updates:</strong> Experience the thrill of real-time data! Pull in device information and updates as they happen, ensuring you're always up to date with the latest network status.</li>
        </ul>
        <p>Visit our Network Page today and unlock a world of streamlined network management, efficiency, and control. Explore, manage, and optimize your network like never before! 💻🔗</p>
        <p>Stay connected for more exciting updates on our journey to redefine network management! 💬🚀</p>

		</header>
	</div>
</section>


								<section id="banner">
									<div class="content">
										<header>
											<h1>Site Refresh</h1>
											<p>A full site refresh including a more interactive and responsive webpage</p><br>
											<p style="text-align: right;">Old design <i class="icon solid fa-arrow-right"></i></p>
										</header>

									</div>
									<span class="image object">
										<img src="{% static 'images/old_site.png' %}" alt="" />
									</span>
								</section>


								<section>
									<header class="major">
										<h2>New Features</h2>
									</header>
									<div class="features">
										<article>
											<span class="icon solid fa-database" onclick="redirectToPortal()"></span>
											<div class="content">
												<h3>Microsoft Portals</h3>
												<p>Added microsoft admin portals</p>
											</div>
										</article>									</div>
								</section>
<script>
				function redirectToPortal(){
					window.location.href = "{% url 'microsoft_portals' %}"
				}


</script>

								{% endblock %}
