{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Device OFFLINE{% endblock %}
{% block template %}
<style>
    		.popup-container {
	display: none; 
	position: fixed;
	background: rgba(0, 0, 0, 0.6);
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity:0;
	transition: opacity 0.5s; 
	}
	
	.popup {
	position: fixed; 
	top: 50%; 
	left: 50%; 
	transform: translate(-50%, -50%); 
	width: fit-content;
	height: fit-content;
	background-color: var(--left-menu-color);
	border: 1px solid var(--border-color);
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	transition: opacity 0.3s ease;
	border-radius: 5px;
	font-family: var(--font-family);
	z-index: 9999;
	font-size: 0.8em;
	font-weight: 700;
	text-align: center;
    text-wrap: wrap;
	white-space: nowrap;
	}

    .loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  text-align: center;

  margin: 0 auto; /* Center horizontally */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
</style>
<h1>Server OFFLINE Please Connect to Internet</h1>
<div id="popup-container2" class="popup-container">
    <div class="popup">
        <div id="error-message">
            <h2>Connection to Server Failed</h2><br>
            <h3 style="color:red;" >Please ensure Dashboard is connected to the internet and try again.</h3>
        <p class="loader"></p>
        </div>
        <div id="success-message" style="display: none;">
            <h2>Connected!</h2><br>
        <h3 style="color:green;" >Device is online, redirecting to home...</h3>
        </div>
    </div>
</div>

<script>

var $popupContainer2 = document.getElementById('popup-container2'),
    $errorMessage = document.getElementById('error-message'),
    $successMessage = document.getElementById('success-message');

function showPopup() {
    $popupContainer2.style.display = 'block';
    setTimeout(() => {
        $popupContainer2.style.opacity = 1;
    }, 10);
}

function checkLicenseServer() {
    // Show the spinner and hide other messages
    $errorMessage.style.display = 'block';
    $successMessage.style.display = 'none';
    showPopup();

    fetch('{% url "ping_license_server" %}', {
        method: 'GET',
        credentials: 'same-origin',
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
    .then(response => response.json())
    .then(data => {
        if (data.status) {
            $errorMessage.style.display = 'none';
            $successMessage.style.display = 'block';
            setTimeout(function () {
                $popupContainer2.style.opacity = 0;
                setTimeout(function () {
                    window.location.href = "{% url 'home' %}";
                }, 300);
            }, 2000);
        } else {
            $spinner.style.display = 'none';
            $errorMessage.style.display = 'block';
            $successMessage.style.display = 'none';
        }
    })
    .catch(error => {
        $spinner.style.display = 'none';
        $errorMessage.style.display = 'block';
        $successMessage.style.display = 'none';
    });
}

setInterval(checkLicenseServer, 4000);
checkLicenseServer();
</script>
{% endblock %}