{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}Setup{% endblock %}
{% block template %}
{% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}

<style>
   .popup {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: fit-content;
  height: fit-content;
  background-color: var(--left-menu-color);
  border: 1px solid var(--border-color);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  border-radius: 5px;
  font-family: var(--font-family);
  z-index: 9999;
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

.popup-container {
  display: none; 
  position: fixed;
  background: rgba(0, 0, 0, 0.6);

  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  transition: opacity 0.5s; 
}


</style>

<div class="container">
    <br><br>
    <h2>Organization Information Form</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ org_form.non_field_errors }}
    
        <!-- Loop over org_form fields -->
        {% for field in org_form.visible_fields %}
        <br>
        <div class="form-group">
            
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <span class="text-danger">{{ field.errors }}</span>
            {% endif %}
        </div>
        {% endfor %}
        
        <br><br>
        <h2>Network Account Information</h2>
        {{ network_form.non_field_errors }}
        
        <!-- Loop over network_form fields -->
        {% for field in network_form.visible_fields %}
        {% if field.name != 'csv_file' %}
        <br>
        <div class="form-group">
            {{ field.label_tag }} 
            {% if field.name == 'network_device_ips' %}
            <label>Select IP Input Method</label>
            <div>
                <input type="radio" id="bulk_upload" name="ip_input_method" value="bulk_upload" onchange="toggleInputMethod()" checked>
                <label for="bulk_upload">Bulk Upload</label>
                <input type="radio" id="manual_entry" name="ip_input_method" value="manual_entry" onchange="toggleInputMethod()">
                <label for="manual_entry">Manual Entry</label>
            </div>
            <div id="bulk_upload_section" >
                <input type="file" name="csv_file" id="bulk_upload_field" class="form-control-file">
                <small class="form-text text-muted">Upload a CSV file containing IP addresses of the network devices you would like to add to NAAV.</small>
            </div>
            <div id="manual_entry_section" style="display: none;">
                <!-- Option 1: Enter IP addresses manually -->
                <textarea class="form-control" rows="5" name="network_device_ips" id="manual_entry_field" placeholder="Enter IP addresses separated by commas or newlines i.e. 192.168.0.1,192.168.0.2,192.168.0.3 or
                192.168.0.1
                192.168.0.2
                192.168.0.3"></textarea>
            </div>
            {% elif field.name == 'ssh_password' %}
            <label>If only one SSH password is applicable, it should be used for both this field and the SSH enable password field below.</label>
            {{ field }}
            {% else %}
                {{ field }}
            {% endif %}
            {% if field.errors %}
            <span class="text-danger">{{ field.errors }}</span>
            {% endif %}
        </div>
        {% endif %}
        {% endfor %}
        <br><br>
        
        <br><br>
        <h2>LDAP Account Information</h2>
        {{ ldap_form.non_field_errors }}
        
        <!-- Loop over ldap_form fields -->
        {% for field in ldap_form.visible_fields %}
        <br>
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <span class="text-danger">{{ field.errors }}</span>
            {% endif %}
        </div>
        {% endfor %}
        
        <br><br>
        <h2>Admin Account Creation</h2>
        {{ admin_form.non_field_errors }}
        
        <!-- Render admin account creation form fields -->
        {% for field in admin_form.visible_fields %}
        <br>
        <div class="form-group">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
            <span class="text-danger">{{ field.errors }}</span>
            {% endif %}
        </div>
        {% endfor %}
        <br>
        
        <input type="submit" class="btn btn-primary" value="Submit Information">
    </form>

    <div id="popup-container" class="popup-container">
        <div class="popup">
            <h2>Connection to Server Failed</h2>
            <p>Please ensure you are connected to the internet and try again.</p>
        </div>
        </div>
    
    <script>

    function toggleInputMethod() {
        var bulkUploadField = document.getElementById("bulk_upload_section");
        var manualEntryField = document.getElementById("manual_entry_section");
    
        if (document.getElementById("bulk_upload").checked) {
            bulkUploadField.style.display = "block";
            manualEntryField.style.display = "none";
        } else {
            bulkUploadField.style.display = "none";
            manualEntryField.style.display = "block";
        }
    }


    var $popupContainer = document.getElementById('popup-container'),
  $popup = $popupContainer.querySelector('.popup');				
function checkLicenseServer() {
	fetch('{% url "ping_license_server" %}', {
        method: 'GET',
        credentials: 'same-origin',
        headers: {
            'X-Requested-With': 'XMLHttpRequest'
        }
    })
	.then(response => response.json())
        .then(data => {
            if (data.status) {
                    $popupContainer.style.opacity = 0;
   					setTimeout(function () {
   					  $popupContainer.style.display = 'none'
  					 }, 300);
                } else {
					$popupContainer.style.display = 'block';
  					//fade In 
  					 setTimeout(function () {
  					   $popupContainer.style.opacity = 1;
  					 }, 100);
                }
            })
            .catch(error => {
                $popupContainer.style.opacity = 0;
   				setTimeout(function () {
   				  $popupContainer.style.display = 'none'
   				}, 300);
            });

    }

    setInterval(checkLicenseServer, 2000);
    </script>
</div>
{% endblock %}
