{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}License{% endblock %}
{% block template %}
<style>
    .loading-indicator {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.spinner {
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #007bff; /* Change color here if needed */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.popup-container {
  display: none; 
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  transition: opacity 0.5s; 
}

.popup {
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: fit-content;
  height: fit-content;
  background-color: var(--left-menu-color);
  border: 1px solid var(--border-color);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  border-radius: 5px;
  font-family: var(--font-family);
  z-index: 9999;
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}

.popup-message-container{
  display: none; 
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity:0;
  transition: opacity 0.5s; 
}

.message-popup{
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  width: fit-content;
  height: fit-content;
  background-color: var(--left-menu-color);
  border: 1px solid var(--border-color);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease;
  border-radius: 5px;
  font-family: var(--font-family);
  z-index: 9999;
  font-size: 0.8em;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}


</style>
<div id="popup-container" class="popup-container">
    <div id="popup" class="popup">
        <h1>Update License for {{ org.org_name }}</h1>
        <form id="license-form" method="post">
            <input type="hidden" name="org_id" id="org_id" value="{{org.org_id}}">
            <input type="hidden" name="free_trail_used" id="free_trail_used" value="{{org.free_trail_used}}">
            <h2 id="license-label">Input License:</h2>
            <input type="text" name="license" id="license" placeholder="25 character license e.g. (STRAWBERRYSPIDERLICENSECO)" maxlength="25" oninput="this.value = this.value.toUpperCase(); checkInputLength();"><br><br>
            <div id="error"></div>
        </form>
        <div id="loading-indicator" class="loading-indicator">
            <div class="spinner"></div>
        </div>
    </div>
</div>


<div id="popup-message-container" class="popup-message-container">
    <div id="popupMessage" class="message-popup">
      <p id="popupContent"></p>
    </div>
    </div>
    <!--        licenseInput.style.display = 'none';
        document.getElementById('license-label').style.display = 'none';
        document.getElementById('loading-indicator').style.display = 'block';-->
        <script>


          var licenseInput = document.getElementById("license");
      function checkInputLength() {
          var licenseInput = document.getElementById("license");
          if (licenseInput.value.length === 25) {
                  submitForm();
              
          }
      
      }
      
      var $popupContainer = document.getElementById('popup-container'),
        $popup = $popupContainer.querySelector('.popup'), $columnPopup=document.getElementById('columnPopup'), $columnContainer=document.getElementById('popup-column-container'),
        $messagePopup = document.getElementById('popupMessage'), $messageContainer = document.getElementById('popup-message-container');
        togglePopup()
      // Function to toggle the visibility of the edit popup
      function togglePopup() {
         $popupContainer.style.display = 'block';
        //fade In 
         setTimeout(function () {
           $popupContainer.style.opacity = 1;
         }, 100);
      }
      
      
      
      $popup.onclick = function(e){
        e.stopPropagation();
      }
      
      
      function submitForm() {
          var license = document.getElementById('license').value;
          var orgId = document.getElementById('org_id').value 
          var free_trail = document.getElementById('free_trail_used').value
          var secret = 'Bababooey'; 
          
      
          
          // Prepare the data to send in the request
          var formData = new FormData();
          formData.append('org_id', orgId);
          formData.append('hamster_solar', secret);
          formData.append('license', license);
          formData.append('free_trail_used', free_trail )
          
          fetch('https://license.strawberryspider.com/api/check/license/', {
            method: 'POST',
            body: formData,
            headers: {
            }
          })
          .then(response => response.json())
          .then(data => {
            // Show the license label and text box again, hide the loading spinner, and clear the text box
            //document.getElementById('license-label').style.display = 'block';
            //document.getElementById('license').style.display = 'block';
            //document.getElementById('license').value = '';
            //document.getElementById('loading-spinner').style.display = 'none';
            
            // Handle the response
            if (data.status === 'success') {
              document.getElementById('error').innerHTML = "<span style='color:green;> Successfully added license to {{org.org_name}}! Redirecting Home...</span>";
              // Prepare data to send to the view
          const licenseInfo = data.license_info;
          const updateFormData = new FormData();
          updateFormData.append('license_code', licenseInfo.license_code);
          updateFormData.append('expire_date', licenseInfo.expire_date);
          updateFormData.append('is_free_trial', licenseInfo.is_free_trial);
      
          // Send the data to the view
          fetch('{% url "update_org_license" %}', {
            method: 'POST',
            body: updateFormData,
            headers: {
              'X-CSRFToken': '{{ csrf_token }}'
            }
          })
          window.location.href = "{% url 'home' %}";
            } else {
              var errorPopup = document.getElementById('error');
              errorPopup.innerHTML = "<span style='color:red;'>Error Here: </span> " + data.message;
            }
          })
          .catch(error => {
            console.error("Error:", error);
            var errorPopup = document.getElementById('error');
            errorPopup.innerHTML = "<span style='color:red;'>Error There: </span> " + error;
          });
      }
      
      </script>
          {% endblock %}

